.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
}
.header__logo {
}
.header__calender {
}
.header__location {
  margin-left: 24px;
}
.header__username {
  margin-right: 12px;
}
.header__add-clothes-button {
  margin-left: auto;
  margin-right: 20px;
  border: none;
  background-color: transparent;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
}
.header__user-avatar {
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}
