.sidebar__block {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0;
}

.sidebar__user-avatar {
  width: 40px;
  height: 40px;
  margin-left: 0;
}

.sidebar__username {
  display: inline;
  color: rgba(0, 0, 0, 1);
  margin-left: 16px;
}
