.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.toggle-switch__checkbox {
  visibility: hidden;
  position: absolute;
}

.toggle-switch__circle {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #000;
  z-index: -1;
}

.toggle-switch__value {
  color: #fff;
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  line-height: 1px;
}

.toggle-switch__value_L {
}

.toggle-switch__value_R {
}

.toggle-switch__checkbox:checked + .toggle-switch__circle {
  left: unset;
  right: -2px;
  transition: 0.7;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__value_R {
  color: #fff;
  transition: 0.7;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__value_L {
  color: #7e7e7e;
  transition: 0.7;
}
