.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  padding: 0;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.toggle-switch__checkbox {
  display: none;
}

.toggle-switch__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background-color: #000;
  border-radius: 50%;
  transition: left 0.3s ease;
  z-index: 1;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__value {
  z-index: 2;
  flex: 1;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  transition: color 0.3s ease;
}

.toggle-switch__value_L {
  color: #fff;
}

.toggle-switch__value_R {
  color: #7e7e7e;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__value_L {
  color: #7e7e7e;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__value_R {
  color: #fff;
}
