.weatherCard {
  background-color: #00a3ff;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}
.weatherCard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
}

.weatherCard__temperature {
  font-weight: 700;
  font-style: bold;
  font-size: 36px;
  line-height: 1.1;
  color: #ffffff;
  position: absolute;
  margin: 0;
  top: 25%;
  bottom: 25%;
  left: 16px;
}
